body
{
    margin: 0;
    padding: 0;
    background:url(login.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.loginBox
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,5);
}
.user
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-5px/2);
    left: calc(30%-30px);
}
h1
{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
}
.loginBox p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.box ul{
    width: 120px;
    float: left;
    margin: 10px auto;
    text-align: center;
}
